!!!
%html
  %head
    %title Naughts and Crosses
    %meta{:name => "viewport", :content => "user-scalable=no, width=500;"}
    %script{:src=>"jquery-1.4.2.min.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"igesture.jquery.mobile_safari.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"naughts_and_crosses.js", :type=>"text/javascript", :charset=>"utf-8"}
    %style
      :sass
        p
          :font
            :style italic
            :size small
          :text
            :align left
        .board
          :width 435
          position: relative
          left: 50%
          margin:
            left: -218px
            top: 20px
            bottom: 10px
          .row
            &.middle
              .square
                :border
                  :top
                    :style solid
                  :bottom
                    :style solid
            .square
              :display inline-block
              :height 145px
              :width 145px
              &.centre
                :border
                  :left
                    :style solid
                  :right
                    :style solid
              img
                :display block
                :margin
                  :left auto
                  :right auto
                &.xo
                  :height 135px
                  :width 135px
                  :margin
                    :top 5px
                  :z-index 1
                &.delete
                  :position relative
                  :z-index 2
                  :margin
                    :top -80px
  %body
    .board
      .row.top
        .square.left>
        .square.centre>
        .square.right>
      .row.middle
        .square.left>
        .square.centre>
        .square.right>
      .row.bottom
        .square.left>
        .square.centre>
        .square.right>
    %p 
      Naughts and crosses is powered by&nbsp;
      %a{:href=>'http://github.com/raganwald/iGesture'}>
        iGesture
      ,
      %a{:href=>'http://jquery.com'}
        jQuery
      and
      %a{:href=>'http://haml-lang.com'}
        Haml/Sass