!!!
%html
  %head
    %meta{:name => "viewport", :content => "user-scalable=no, width=500;"}
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"http://github.com/raganwald/iGesture/raw/master/igesture.jquery.mobile_safari.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"naughts_and_crosses.js", :type=>"text/javascript", :charset=>"utf-8"}
    %style
      :sass
        .board
          :margin
            :left auto
            :right auto
          .row
            &.middle
              .square
                :border
                  :top
                    :style solid
                  :bottom
                    :style solid
            .square
              :display inline-block
              :height 145px
              :width 145px
              &.centre
                :border
                  :left
                    :style solid
                  :right
                    :style solid
              img
                :height 135px
                :width 135px
                :display block
                :margin
                  :top 5px
                  :left 5px
  %body
    .board
      .row.top
        .square.left>
        .square.centre>
        .square.right>
      .row.middle
        .square.left>
        .square.centre>
        .square.right>
      .row.bottom
        .square.left>
        .square.centre>
        .square.right>